In [1]:
import pandas as pd
import numpy as np

In [66]:
df1 = pd.read_csv(r"PI_ML_OPS\clean_steam_games")
df2 = pd.read_csv(r"PI_ML_OPS\clean_review")
df3 = pd.read_csv(r"PI_ML_OPS\clean_items")

In [ ]:
"""def UserForGenre( genero : str ): Debe devolver el usuario que acumula más horas jugadas para el género dado y una lista de 
la acumulación de horas jugadas por año de lanzamiento.
Ejemplo de retorno: {"Usuario con más horas jugadas para Género X" : ,us213ndjss09sdf "Horas jugadas":[{Año: 2013, Horas: 203},
{Año: 2012, Horas: 100}, {Año: 2011, Horas: 23}]}"""

In [3]:
df_marge_item = pd.merge(df1 , df3,on="item_id" )

In [67]:
df_merge_review = pd.merge(df1 ,df2, on="item_id")

genero-user id- año.lanzamiento - play time forever

In [8]:
df_marge_item.head(1)

,item_id,app_name,price,developer,Accounting,Action,Adventure,Animation &amp; Modeling,Audio Production,Casual,...,Strategy,Utilities,Video Production,Web Publishing,Año_lanzamiento,user_id,items_count,item_name,playtime_forever,playtime_2weeks
0,282010,Carmageddon Max Pack,9.99,Stainless Games Ltd,0,1,0,0,0,0,...,0,0,0,0,1997.0,UTNerd24,188,Carmageddon Max Pack,5.0,0.0

In [9]:
df_nuevo = df_marge_item.drop(columns=["item_id","app_name","price","developer","items_count","item_name"])

In [10]:
df_nuevo

,Accounting,Action,Adventure,Animation &amp; Modeling,Audio Production,Casual,Design &amp; Illustration,Early Access,Education,Free to Play,...,Software Training,Sports,Strategy,Utilities,Video Production,Web Publishing,Año_lanzamiento,user_id,playtime_forever,playtime_2weeks
0,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1997.0,UTNerd24,5.0,0.0
1,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1997.0,I_DID_911_JUST_SAYING,0.0,0.0
2,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1997.0,76561197962104795,0.0,0.0
3,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1997.0,r3ap3r78,0.0,0.0
4,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1997.0,saint556,13.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4294252,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2004.0,76561198273508956,0.0,0.0
4294253,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2004.0,76561198282090798,0.0,0.0
4294254,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2004.0,943525,0.0,0.0
4294255,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2004.0,76561198283312749,9.0,0.0
4294256,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2004.0,76561198312638244,99.0,0.0

In [73]:
df_nuevo[df_nuevo["Adventure"] == 1] 
#df_nuevo[df_nuevo["genero"] == 1] ASI LLAMO EL GENERO QUE QUIERO EN LA FUNCION

,Accounting,Action,Adventure,Animation &amp; Modeling,Audio Production,Casual,Design &amp; Illustration,Early Access,Education,Free to Play,...,Software Training,Sports,Strategy,Utilities,Video Production,Web Publishing,Año_lanzamiento,user_id,playtime_forever,playtime_2weeks
67979,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2006.0,AMV72,0.0,0.0
67980,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2006.0,bitmat,0.0,0.0
67981,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2006.0,chidvd,22.0,0.0
67982,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2006.0,76561198052661205,737.0,0.0
67983,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2006.0,sir_afrodite,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4280172,0,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2002.0,thecharles,4.0,0.0
4280173,0,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2002.0,ohhiduuuuur,10.0,0.0
4280174,0,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2002.0,ehekatI,16.0,0.0
4280175,0,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2002.0,mintwishes,3.0,0.0
4280176,0,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2002.0,ronzack,0.0,0.0

In [74]:
var = df_nuevo[df_nuevo["Adventure"] == 1]

In [59]:
df_nuevo.groupby("user_id")["playtime_forever"].sum() #saco el total de horas jugadas por usuario

user_id
--000--              140864.0
--ace--               70382.0
--ionex--             38599.0
-2SV-vuLB-Kg          48618.0
-404PageNotFound-    199305.0
                       ...
zzonci                  429.0
zzoptimuszz           78614.0
zzydrax                4640.0
zzyfo                 28295.0
zzzmidmiss             9867.0
Name: playtime_forever, Length: 68712, dtype: float64

In [21]:
df_nuevo.groupby("user_id")["playtime_forever"].sum().max() #las cantidad de horas mas jugadas por un usario

3959724.0

In [76]:
var.groupby("user_id")["playtime_forever"].sum().max()

2191551.0

In [77]:
usuario = var.groupby("user_id")["playtime_forever"].sum().idxmax()

In [104]:
var2 = var[var["user_id"] == usuario]

In [111]:
var2.Año_lanzamiento.info()

<class 'pandas.core.series.Series'>
Index: 615 entries, 69748 to 4280005
Series name: Año_lanzamiento
Non-Null Count  Dtype
--------------  -----
614 non-null    float64
dtypes: float64(1)
memory usage: 9.6 KB

In [78]:
usuario

'REBAS_AS_F-T'

In [60]:
df_nuevo.groupby("user_id")["playtime_forever"].sum().idxmax() #el usuario con mas horas jugadas

'REBAS_AS_F-T'

In [20]:
df_nuevo[df_nuevo["user_id"] == 'REBAS_AS_F-T']["playtime_forever"].sum() #verificar que sea la cantidad maxima

3959724.0

In [18]:
df_nuevo[df_nuevo["user_id"] == "--000--"]

,Accounting,Action,Adventure,Animation &amp; Modeling,Audio Production,Casual,Design &amp; Illustration,Early Access,Education,Free to Play,...,Software Training,Sports,Strategy,Utilities,Video Production,Web Publishing,Año_lanzamiento,user_id,playtime_forever,playtime_2weeks
35750,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2006.0,--000--,925.0,0.0
194206,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2009.0,--000--,143.0,0.0
327828,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2009.0,--000--,0.0,0.0
650505,0,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,2011.0,--000--,2763.0,0.0
686545,0,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,2012.0,--000--,166.0,0.0
706351,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2012.0,--000--,0.0,0.0
741714,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,2012.0,--000--,38.0,0.0
755988,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2012.0,--000--,107119.0,2033.0
869670,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2012.0,--000--,5.0,0.0
1140831,0,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,2014.0,--000--,607.0,0.0
1152982,0,1,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,2014.0,--000--,582.0,0.0
1244976,0,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2013.0,--000--,0.0,0.0
1317596,0,1,0,0,0,0,0,1,0,1,...,0,0,0,0,0,0,2014.0,--000--,445.0,0.0
1365821,0,0,0,0,0,1,0,0,0,1,...,0,0,0,0,0,0,2015.0,--000--,0.0,0.0
1374907,0,1,0,0,0,1,0,0,0,1,...,0,1,0,0,0,0,2015.0,--000--,5502.0,103.0
1414530,0,0,1,0,0,1,0,0,0,1,...,0,0,1,0,0,0,2015.0,--000--,11.0,0.0
1598863,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,2016.0,--000--,0.0,0.0
1661143,0,1,0,0,0,0,0,1,0,1,...,0,0,0,0,0,0,2016.0,--000--,86.0,86.0
1672947,0,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,2016.0,--000--,9.0,0.0
1751573,0,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,2017.0,--000--,68.0,0.0
1779279,0,1,1,0,0,1,0,0,0,1,...,0,0,0,0,0,0,2017.0,--000--,4037.0,0.0
1937745,0,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,2015.0,--000--,20.0,0.0
1950106,0,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,2015.0,--000--,74.0,0.0
2053072,0,1,1,0,0,1,0,0,0,1,...,0,0,0,0,0,0,2015.0,--000--,4260.0,0.0
2088748,0,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,2015.0,--000--,4.0,0.0
2208853,0,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,2015.0,--000--,0.0,0.0
2267836,0,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,2012.0,--000--,0.0,0.0
2311463,0,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,2014.0,--000--,0.0,0.0
2371648,0,1,0,0,0,0,0,1,0,1,...,0,1,1,0,0,0,2014.0,--000--,0.0,0.0
2387199,0,0,0,0,0,0,0,0,0,1,...,0,0,1,0,0,0,2014.0,--000--,0.0,0.0
2389948,0,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,2014.0,--000--,0.0,0.0
2462875,0,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,2014.0,--000--,0.0,0.0
2490460,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2014.0,--000--,244.0,0.0
2506599,0,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,2014.0,--000--,1803.0,0.0
2537756,0,1,0,0,0,1,0,0,0,0,...,0,0,1,0,0,0,2014.0,--000--,146.0,0.0
2686835,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2013.0,--000--,193.0,52.0
2817522,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,NaN,--000--,416.0,0.0
2907287,0,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2013.0,--000--,63.0,0.0
2937945,0,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,2013.0,--000--,107.0,0.0
3200289,0,1,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,2012.0,--000--,1597.0,0.0
3274499,0,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,2010.0,--000--,22.0,0.0
3317368,0,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,2012.0,--000--,3.0,0.0
3384951,0,1,0,0,0,0,0,0,0,1,...,0,1,1,0,0,0,2012.0,--000--,461.0,0.0
3431465,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2011.0,--000--,1922.0,0.0
3467532,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2011.0,--000--,665.0,0.0
3559006,0,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2011.0,--000--,1172.0,0.0
3776360,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2009.0,--000--,2237.0,0.0
3894264,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2009.0,--000--,2949.0,0.0

In [44]:
usuario_max = df_nuevo[df_nuevo["user_id"]== "REBAS_AS_F-T"] #usuario mas horas

In [82]:
juego_x_año = var2.groupby("Año_lanzamiento")["playtime_forever"].sum()

In [83]:
juego_x_año

Año_lanzamiento
2002.0         0.0
2003.0      1863.0
2005.0      1113.0
2006.0         0.0
2007.0       161.0
2008.0      2453.0
2009.0     26904.0
2010.0     19346.0
2011.0     60283.0
2012.0    144498.0
2013.0    253312.0
2014.0    190959.0
2015.0    659550.0
2016.0    790293.0
2017.0     32947.0
Name: playtime_forever, dtype: float64

In [54]:
registro = juego_x_año.to_dict()

In [57]:
df_nuevo[df_nuevo["Año_lanzamiento"] == 2017.0]

,Accounting,Action,Adventure,Animation &amp; Modeling,Audio Production,Casual,Design &amp; Illustration,Early Access,Education,Free to Play,...,Software Training,Sports,Strategy,Utilities,Video Production,Web Publishing,Año_lanzamiento,user_id,playtime_forever,playtime_2weeks
913587,0,0,0,0,0,0,0,0,1,0,...,1,0,0,1,0,1,2017.0,dirklah,796.0,0.0
913588,0,0,0,0,0,0,0,0,1,0,...,1,0,0,1,0,1,2017.0,76561198045942232,76.0,0.0
913589,0,0,0,0,0,0,0,0,1,0,...,1,0,0,1,0,1,2017.0,76561198022404680,331.0,3.0
913590,0,0,0,0,0,0,0,0,1,0,...,1,0,0,1,0,1,2017.0,wiinga,471.0,0.0
913591,0,0,0,0,0,0,0,0,1,0,...,1,0,0,1,0,1,2017.0,76561198068809841,886.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4118831,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2017.0,haikiah,0.0,0.0
4118832,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2017.0,L00j00,1038.0,0.0
4118833,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2017.0,necrotten,1.0,0.0
4118834,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2017.0,76561198094666642,168.0,0.0
4118835,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2017.0,76561198013255974,68.0,0.0

In [86]:
dic = juego_x_año.to_dict()

In [87]:
dic

{2002.0: 0.0,
 2003.0: 1863.0,
 2005.0: 1113.0,
 2006.0: 0.0,
 2007.0: 161.0,
 2008.0: 2453.0,
 2009.0: 26904.0,
 2010.0: 19346.0,
 2011.0: 60283.0,
 2012.0: 144498.0,
 2013.0: 253312.0,
 2014.0: 190959.0,
 2015.0: 659550.0,
 2016.0: 790293.0,
 2017.0: 32947.0}

In [125]:
Horas_por_año = {}
for clave, valor in dic.items():
    clave_formateada = f'Año: {clave}'
    valor_formateado = f'Horas: {int(valor)}'
    Horas_por_año[clave_formateada] = valor_formateado

print(Horas_por_año)

{'Año: 2002.0': 'Horas: 0', 'Año: 2003.0': 'Horas: 1863', 'Año: 2005.0': 'Horas: 1113', 'Año: 2006.0': 'Horas: 0', 'Año: 2007.0': 'Horas: 161', 'Año: 2008.0': 'Horas: 2453', 'Año: 2009.0': 'Horas: 26904', 'Año: 2010.0': 'Horas: 19346', 'Año: 2011.0': 'Horas: 60283', 'Año: 2012.0': 'Horas: 144498', 'Año: 2013.0': 'Horas: 253312', 'Año: 2014.0': 'Horas: 190959', 'Año: 2015.0': 'Horas: 659550', 'Año: 2016.0': 'Horas: 790293', 'Año: 2017.0': 'Horas: 32947'}

In [126]:
Horas_por_año

{'Año: 2002.0': 'Horas: 0',
 'Año: 2003.0': 'Horas: 1863',
 'Año: 2005.0': 'Horas: 1113',
 'Año: 2006.0': 'Horas: 0',
 'Año: 2007.0': 'Horas: 161',
 'Año: 2008.0': 'Horas: 2453',
 'Año: 2009.0': 'Horas: 26904',
 'Año: 2010.0': 'Horas: 19346',
 'Año: 2011.0': 'Horas: 60283',
 'Año: 2012.0': 'Horas: 144498',
 'Año: 2013.0': 'Horas: 253312',
 'Año: 2014.0': 'Horas: 190959',
 'Año: 2015.0': 'Horas: 659550',
 'Año: 2016.0': 'Horas: 790293',
 'Año: 2017.0': 'Horas: 32947'}

In [ ]:
df_marge_item = pd.merge(df , df3,on="item_id" )

df_nuevo = df_marge_item.drop(columns=["item_id","app_name","price","developer","items_count","item_name"])

In [129]:

df = pd.read_csv(r"PI_ML_OPS\clean_steam_games")
df3 = pd.read_csv(r"PI_ML_OPS\clean_items")

df_marge_item = pd.merge(df , df3,on="item_id" )

df_nuevo = df_marge_item.drop(columns=["item_id","app_name","price","developer","items_count","item_name"])

def UserForGenre(genero):
    df_genre = df_nuevo[df_nuevo[genero] == 1] #llamo el genero
    
    usur_mas_horas = df_genre.groupby("user_id")["playtime_forever"].sum().idxmax() #usuario con más horas de juego en el genero

    filtro_usur = df_genre[df_genre["user_id"] == usur_mas_horas] #filtramos por el usuario con mas horas jugadas

    horas_jugXaño = filtro_usur.groupby("Año_lanzamiento")["playtime_forever"].sum() #horas jugadas por año 

    registro = horas_jugXaño.to_dict() #paso las horas por año en diccionario

    Horas_por_año = {}  #creo un diccionario vacio para guardar registros 
    for clave, valor in registro.items(): #un for para que vaya iterando por cada item
        clave_formateada = f'Año: {int(clave)}' #formateo para que me salga con año
        valor_formateado = f'Horas: {int(valor)}' #formateo para que me salga con horas
        Horas_por_año[clave_formateada] = valor_formateado 

    return print(f"Usuario con más horas jugadas para Género {genero} : ,{usur_mas_horas} Horas jugadas:{Horas_por_año}") 

    

    """Ejemplo de retorno: {"Usuario con más horas jugadas para Género X" : ,us213ndjss09sdf "Horas jugadas":[{Año: 2013, Horas: 203},
{Año: 2012, Horas: 100}, {Año: 2011, Horas: 23}]}"""

In [122]:
df_col = df_merge_review[["user_id","price","recommend","item_id"]]

In [123]:
df_col

                       user_id  price recommend  item_id
0                 InstigatorAU   9.99      True   282010
1           EizanAratoFujimaki   9.99      True       70
2                     GamerFag   9.99      True       70
3            76561198020928326   9.99      True       70
4                    Bluegills   9.99      True       70
...                        ...    ...       ...      ...
53983        76561198023508728   9.99     False       80
53984              Lone_walker   9.99      True       80
53985                 green290   9.99      True       80
53986  174gamecuman700kngkakak   9.99      True       80
53987                   lachwe   9.99      True       80

[53988 rows x 4 columns]

In [119]:
df_merge_review.head(1)

,item_id,app_name,price,developer,Accounting,Action,Adventure,Animation &amp; Modeling,Audio Production,Casual,...,Sports,Strategy,Utilities,Video Production,Web Publishing,Año_lanzamiento,user_id,recommend,sentiment_analysis,Año_posteo
0,282010,Carmageddon Max Pack,9.99,Stainless Games Ltd,0,1,0,0,0,0,...,0,0,0,0,0,1997.0,InstigatorAU,True,1,NaN

In [80]:
df_col = df_merge_review[["user_id","price","recommend","item_id"]]

In [99]:
#f2
def userdata(user_id):

    # Filtrar los datos para el usuario especificado
    user_data = df_col[df_col["user_id"] == user_id]

    user_items = df3[df3["user_id"] == user_id]

    # Calcular la cantidad de dinero gastado por el usuario
    dinero_gastado = round(user_data["price"].sum(),2)


    # Calcular el porcentaje de recomendación en base a reviews.recommend
    recomendacion = user_data["recommend"].sum()
    porcentaje_recomendacion = round(recomendacion / len(user_data) * 100)

    # Calcular la cantidad de items
    cantidad_de_items = user_items["item_id"].nunique()

    # Crear un diccionario con los resultados
    resultados = {f"Usuario X:{user_id}, Dinero gastado: {dinero_gastado}USD, % de recomendación: {porcentaje_recomendacion}%, Cantidad de items: {cantidad_de_items}"}

    return resultados

In [100]:
userdata("76561197970982479")

{'Usuario X:76561197970982479, Dinero gastado: 29.98USD, % de recomendación: 100%, Cantidad de items: 277'}

In [126]:
userdata("GamerFag")

{'Cantidad de dinero gastado': 55.95,
 'Porcentaje de recomendación': 100.0,
 'Cantidad de items': 64}

In [ ]:
df_merge_review = pd.merge(df1 ,df2, on="item_id")

In [127]:
df_merge_review.head(1)

,item_id,app_name,price,developer,Accounting,Action,Adventure,Animation &amp; Modeling,Audio Production,Casual,...,Sports,Strategy,Utilities,Video Production,Web Publishing,Año_lanzamiento,user_id,recommend,sentiment_analysis,Año_posteo
0,282010,Carmageddon Max Pack,9.99,Stainless Games Ltd,0,1,0,0,0,0,...,0,0,0,0,0,1997.0,InstigatorAU,True,1,NaN

In [132]:
df_modf = df_modf[["year","recommend","sentiment_analysis","developer","app_name"]]

In [131]:
df_modf

,item_id,app_name,price,developer,Accounting,Action,Adventure,Animation &amp; Modeling,Audio Production,Casual,...,Sports,Strategy,Utilities,Video Production,Web Publishing,Año_lanzamiento,user_id,recommend,sentiment_analysis,year
0,282010,Carmageddon Max Pack,9.99,Stainless Games Ltd,0,1,0,0,0,0,...,0,0,0,0,0,1997.0,InstigatorAU,True,1,NaN
1,70,Half-Life,9.99,Valve,0,1,0,0,0,0,...,0,0,0,0,0,1998.0,EizanAratoFujimaki,True,2,2015.0
2,70,Half-Life,9.99,Valve,0,1,0,0,0,0,...,0,0,0,0,0,1998.0,GamerFag,True,0,2011.0
3,70,Half-Life,9.99,Valve,0,1,0,0,0,0,...,0,0,0,0,0,1998.0,76561198020928326,True,2,2014.0
4,70,Half-Life,9.99,Valve,0,1,0,0,0,0,...,0,0,0,0,0,1998.0,Bluegills,True,2,2013.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53983,80,Counter-Strike: Condition Zero,9.99,Valve,0,1,0,0,0,0,...,0,0,0,0,0,2004.0,76561198023508728,False,1,2014.0
53984,80,Counter-Strike: Condition Zero,9.99,Valve,0,1,0,0,0,0,...,0,0,0,0,0,2004.0,Lone_walker,True,2,2013.0
53985,80,Counter-Strike: Condition Zero,9.99,Valve,0,1,0,0,0,0,...,0,0,0,0,0,2004.0,green290,True,1,2015.0
53986,80,Counter-Strike: Condition Zero,9.99,Valve,0,1,0,0,0,0,...,0,0,0,0,0,2004.0,174gamecuman700kngkakak,True,1,2014.0
53987,80,Counter-Strike: Condition Zero,9.99,Valve,0,1,0,0,0,0,...,0,0,0,0,0,2004.0,lachwe,True,0,2015.0

In [68]:
#f4
df_merge_review = pd.merge(df1 ,df2, on="item_id")
#modifico el DataFrame
df_modf = df_merge_review.rename(columns={"Año_posteo": "año"})
df_modf = df_modf[["año","recommend","sentiment_analysis","developer","app_name"]] 

def best_developer_year(año):
     # Filtrar los juegos por año
    df_año = df_modf[df_modf["año"] == año]

    # Agrupar los juegos por desarrollador y contar el número de juegos recomendados
    df_count = df_año[df_año["recommend"] == True][df_año["sentiment_analysis"] == 2].groupby("developer")["app_name"].count()

    df_count = df_count.reset_index()
    # Ordenar los resultados por número de juegos recomendados y devolver los tres primeros desarrolladores
    top_desarrolladores = df_count.sort_values("app_name", ascending=False).head(3)["developer"].tolist()

    # Devolver el top 3 de desarrolladores
    top_3 = f"Puesto1:{top_desarrolladores[0]}, Puesto2:{top_desarrolladores[1]}, Puesto3:{top_desarrolladores[2]}"
    return top_3

In [69]:
best_developer_year(2015)

C:\Users\Usuario\AppData\Local\Temp\ipykernel_10252\454750289.py:12: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_count = df_año[df_año["recommend"] == True][df_año["sentiment_analysis"] == 2].groupby("developer")["app_name"].count()

'Puesto1:Valve, Puesto2:Facepunch Studios, Puesto3:Smartly Dressed Games'

In [9]:
df_modf = df_modf[["año","recommend","sentiment_analysis","developer","app_name"]]

In [49]:
df_modf["año"].isna().value_counts()

año
False    53988
Name: count, dtype: int64

In [47]:
df_modf["año"].fillna(0,inplace=True) #reemplazo los años nulos por cero

In [51]:
df_modf

,año,recommend,sentiment_analysis,developer,app_name
0,0,True,1,Stainless Games Ltd,Carmageddon Max Pack
1,2015,True,2,Valve,Half-Life
2,2011,True,0,Valve,Half-Life
3,2014,True,2,Valve,Half-Life
4,2013,True,2,Valve,Half-Life
...,...,...,...,...,...
53983,2014,False,1,Valve,Counter-Strike: Condition Zero
53984,2013,True,2,Valve,Counter-Strike: Condition Zero
53985,2015,True,1,Valve,Counter-Strike: Condition Zero
53986,2014,True,1,Valve,Counter-Strike: Condition Zero
53987,2015,True,0,Valve,Counter-Strike: Condition Zero

In [50]:
df_modf["año"] = df_modf["año"].astype("int") #paso la columna año en int

In [148]:
df_merge_review.head(1)

,item_id,app_name,price,developer,Accounting,Action,Adventure,Animation &amp; Modeling,Audio Production,Casual,...,Sports,Strategy,Utilities,Video Production,Web Publishing,Año_lanzamiento,user_id,recommend,sentiment_analysis,Año_posteo
0,282010,Carmageddon Max Pack,9.99,Stainless Games Ltd,0,1,0,0,0,0,...,0,0,0,0,0,1997.0,InstigatorAU,True,1,NaN

In [54]:
best_developer_year(2015)

C:\Users\Usuario\AppData\Local\Temp\ipykernel_10252\1801035142.py:16: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_count = df_año[df_año["recommend"] == True][df_año["sentiment_analysis"] == 2].groupby("developer")["app_name"].count().reset_index()

'Puesto1:Valve,Puesto2:Facepunch Studios,Puesto3:Smartly Dressed Games'

In [55]:
best_developer_year(2015)

C:\Users\Usuario\AppData\Local\Temp\ipykernel_10252\1801035142.py:16: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_count = df_año[df_año["recommend"] == True][df_año["sentiment_analysis"] == 2].groupby("developer")["app_name"].count().reset_index()

'Puesto1:Valve,Puesto2:Facepunch Studios,Puesto3:Smartly Dressed Games'

def developer( desarrollador : str ): Cantidad de items y porcentaje de contenido Free por año según empresa desarrolladora. Ejemplo de retorno:

In [3]:
df = pd.read_csv(r"PI_ML_OPS\clean_steam_games")
df2 = pd.read_csv(r"PI_ML_OPS\clean_review")
df3 = pd.read_csv(r"PI_ML_OPS\clean_items")

In [4]:
df.head(1)

,item_id,app_name,price,developer,Accounting,Action,Adventure,Animation &amp; Modeling,Audio Production,Casual,...,RPG,Racing,Simulation,Software Training,Sports,Strategy,Utilities,Video Production,Web Publishing,Año_lanzamiento
0,761140,Lost Summoner Kitty,4.99,Kotoshiro,0,1,0,0,0,1,...,0,0,1,0,0,1,0,0,0,2018.0

In [10]:
df_nuevo = df[["item_id", "price","developer","Año_lanzamiento"]]

In [32]:
df.head()

   item_id  price         developer  Año_lanzamiento
0   761140   4.99         Kotoshiro           2018.0
1   643980   0.00  Secret Level SRL           2018.0
2   670290   0.00      Poolians.com           2017.0
3   767400   0.99              彼岸领域           2017.0
4   773570   2.99               NaN              NaN

In [36]:
df_deve = df[df["developer"] == "Dovetail Games"] #llamo al developer

In [37]:
df[df["developer"] == "Dovetail Games"].groupby("Año_lanzamiento")

In [38]:
df_deve.groupby("Año_lanzamiento")["item_id"].count() #obtengo la cantidad por año

Año_lanzamiento
2009.0    22
2010.0     4
2011.0     4
2012.0    52
2013.0    39
2014.0    37
2015.0    50
2016.0    21
2017.0    24
Name: item_id, dtype: int64

In [45]:
df_deve.groupby("Año_lanzamiento")["price"].count()

Año_lanzamiento
2009.0    22
2010.0     4
2011.0     4
2012.0    52
2013.0    39
2014.0    37
2015.0    50
2016.0    21
2017.0    24
Name: price, dtype: int64

In [35]:
df["developer"].value_counts()

developer
Ubisoft - San Francisco       1259
SmiteWorks USA, LLC            813
Dovetail Games                 253
KOEI TECMO GAMES CO., LTD.     232
Paradox Development Studio     156
                              ...
Royal9Games,RoyalJL              1
Salus Games                      1
Class of  2016-2017              1
Pirotexnik                       1
Bidoniera Games                  1
Name: count, Length: 10992, dtype: int64

In [46]:
df_deve

       item_id  price       developer  Año_lanzamiento
201     256611   4.99  Dovetail Games           2009.0
202     256576   4.99  Dovetail Games           2009.0
315     208306  17.99  Dovetail Games           2009.0
317     208300  19.99  Dovetail Games           2009.0
455      24075   4.99  Dovetail Games           2010.0
...        ...    ...             ...              ...
31328    24096  12.99  Dovetail Games           2010.0
31357    24095   8.99  Dovetail Games           2013.0
31448    24070   8.99  Dovetail Games           2010.0
31628    24012   7.99  Dovetail Games           2009.0
31772   256570   4.99  Dovetail Games           2009.0

[253 rows x 4 columns]

In [48]:
Free = df_deve[df_deve["price"] == 0]

In [49]:
Free.groupby("Año_lanzamiento")["price"].count() #cantidad de gratis por año

Año_lanzamiento
2017.0    1
Name: price, dtype: int64

In [51]:
total_free = Free.groupby("Año_lanzamiento")["price"].count() #cantidad de gratis por año

In [52]:
total_free

Año_lanzamiento
2017.0    1
Name: price, dtype: int64

In [50]:
total = df_deve.groupby("Año_lanzamiento")["price"].count() #total de items

In [59]:
cant_item = df_deve.groupby("Año_lanzamiento")["item_id"].count()

In [61]:
cant_item #cantidad de item por año

Año_lanzamiento
2009.0    22
2010.0     4
2011.0     4
2012.0    52
2013.0    39
2014.0    37
2015.0    50
2016.0    21
2017.0    24
Name: item_id, dtype: int64

In [79]:
cont_free_año

Año_lanzamiento
2009.0     NaN
2010.0     NaN
2011.0     NaN
2012.0     NaN
2013.0     NaN
2014.0     NaN
2015.0     NaN
2016.0     NaN
2017.0    4.17
Name: price, dtype: float64

In [70]:
tabla = pd.merge(cant_item, cont_free_año,on="Año_lanzamiento") #unimos las dos tablas para hacerla unica

In [78]:
tabla #final

                 item_id  price
Año_lanzamiento
2009.0                22    NaN
2010.0                 4    NaN
2011.0                 4    NaN
2012.0                52    NaN
2013.0                39    NaN
2014.0                37    NaN
2015.0                50    NaN
2016.0                21    NaN
2017.0                24   4.17

In [113]:
df = pd.read_csv(r"PI_ML_OPS\clean_steam_games")
df2 = pd.read_csv(r"PI_ML_OPS\clean_review")
df3 = pd.read_csv(r"PI_ML_OPS\clean_items")
#f1
df_nuevo = df[["item_id", "price","developer","Año_lanzamiento"]] #columnas que voy a utilizar
def developer(desarrollador):
    df_deve = df[df["developer"] == desarrollador] #llamo al desarrollador
    
    cant_item = df_deve.groupby("Año_lanzamiento")["item_id"].count() #obtengo la cantidad por año 
    
    Free = df_deve[df_deve["price"] == 0] #juegos gratuitos del desarrollador
    
    total_free = Free.groupby("Año_lanzamiento")["price"].count() #cantidad de gratis por año 

    cont_free_año = round((total_free/cant_item)*100,2) #porcentaje por free por año 
    
    #asigno nombre a las series
    cant_item.name = "Cantidad de Items"
    
    cont_free_año.name = "Contenido Free"
    
    tabla = pd.merge(cant_item, cont_free_año,on="Año_lanzamiento") #unimos las dos tablas para hacerla unica
    #var = pd.cont_free_año(["Año_lanzamiento","item_id"])

    return tabla

In [114]:
developer("Dovetail Games")

                 Cantidad de Items  Contenido Free
Año_lanzamiento
2009.0                          22             NaN
2010.0                           4             NaN
2011.0                           4             NaN
2012.0                          52             NaN
2013.0                          39             NaN
2014.0                          37             NaN
2015.0                          50             NaN
2016.0                          21             NaN
2017.0                          24            4.17

In [89]:
cont_free_año

Año_lanzamiento
2009.0     NaN
2010.0     NaN
2011.0     NaN
2012.0     NaN
2013.0     NaN
2014.0     NaN
2015.0     NaN
2016.0     NaN
2017.0    4.17
Name: price, dtype: float64

In [73]:
def developer_reviews_analysis_(desarrolladora):
    '''Devuelve un diccionario con el nombre del desarrollador como llave y una lista con la cantidad total de 
    reseñas positivas y negativas de usuarios

    Ejemplo de retorno: {'Valve' : [Negative = 182, Positive = 278]}
    '''

    # Se filtran las columnas a utilizar y se eliminan duplicados
    df_merged = df_merge_review[["user_id", "item_id","developer","Año_posteo","sentiment_analysis"]]

#Se filtran los datos por el developer ingresado
    df_merged = df_merged[df_merged["developer"] == desarrolladora]

    # Se obtienen la cantidad de reviews positivas y negativas
    positive_reviews = df_merged[df_merged["sentiment_analysis"] == 2].shape[0]
    negative_reviews = df_merged[df_merged["sentiment_analysis"] == 0].shape[0]

#Se juntan los valores en un f-string
    resumen_reviews = f"[Negative = {negative_reviews}, Positive = {positive_reviews}]"

#Se almacenan los resultados en un diccionario
    dicc = {desarrolladora : resumen_reviews}

    # Se devuelve un diccionario con los resultados obtenidos
    return dicc

In [76]:
developer_reviews_analysis_("Valve")

{'Valve': '[Negative = 1113, Positive = 6149]'}